<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script type="text/javascript" charset="utf-8" src="/static/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script language="JavaScript">
        // Attach the CSRF token (see the meta tag above) to every AJAX POST this app makes,
        // so Flask-WTF's CSRFProtect accepts them without touching each call site individually.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", $('meta[name="csrf-token"]').attr('content'));
                }
            }
        });

        function remove_tags(txt){
            if(txt) {
                var rex = /(<([^>]+)>)/ig;
                return txt.replace(rex , "");
            } else { return txt; }
        }

        var dialogModal;
        $(document).ready(function() {
            dialogModal = new bootstrap.Modal(document.getElementById('dialog'));
        });

        function dialog_text(tle, text) {
            $('#dialogTitle').text(tle);
            $('#dialogBody').html(text);
            $('#message').hide();
            dialogModal.show();
        }

        function dialog_html(ajax_url) {
            $('#dialogTitle').text("Loading ... ");
            $('#dialogBody').html("");
            $('#message').hide();
            dialogModal.show();
            $('#dialogBody').load(ajax_url, function() {
                $('#dialogTitle').text($('#dialogBody').find("h1").text());
                $('#dialogBody').find("h1").remove();
            });
        }

        function close_popup(div_id) {
            $("#" + div_id).hide();
        }

        function ajax_call(ajax_url, should_confirm) {
            cont = true;
            if( should_confirm ) {
                cont = confirm('Are you sure you want to do this?');
            }
            if( cont == true) {
                $.ajax({
                    url: ajax_url,
                    type: "POST",
                    success: function(msg) {
                        if( msg ) {
                            $('#message').html(msg);
                            $('#message').show();
                            setTimeout(function() { $("#message").hide();}, 5000);
                        }
                    }
                });
            }
        }

        function ajax_submit(ajax_url, action) {
            $.ajax({
                url: ajax_url,
                type: action,
                success: function(data) {
                    var current_url = window.location.href;
                    if (current_url.indexOf('?') > -1){
                       current_url += '&msg=' + data
                    }else{
                       current_url += '?msg=' + data
                    }
                    window.location.href = current_url;
                },
            });
        }

        $(document).ready(function() {
            //Display Message in popup if passed as GET variable
            var url_string = window.location.href;
            var url_object = new URL(url_string);
            var msg = url_object.searchParams.get('msg');
            var message = "{{ msg }}";
            console.log(message);
            if( message != "" ) {
                msg = message + " " + msg;
            }
            msg = remove_tags(msg);
            console.log(msg);
            if( msg ) {
                $('#message').html(msg);
                $('#message').show();
                setTimeout(function() { $("#message").hide();}, 5000);
            }
        });

        var already_failed = false;
        function validate_input(form_input, regex) {
            var input_id = form_input.id;
            var value = form_input.value
            var re = new RegExp(regex, "i");
            var result = re.test(value);
            console.log('value: ' + value);
            console.log('regex: ' + regex);
            console.log('result: ' + result);
            if(result === false) {
                $('#message').html("Nice try, but you input was not valid!  Try again.");
                $('#message').show();
                setTimeout(function() { $("#message").hide();}, 5000);

                form_input.value = null;
                //if(already_failed === false) {
                    setTimeout(function() { form_input.focus() }, 10);
                //    already_failed = true
                //} else {
                //    already_failed = false
                //}
            }
        }
    </script>

    {% block head %}

    {% endblock %}

    <!-- Loaded last (after page-specific head blocks like DataTables' own CSS) so its
         overrides for third-party component colors/spacing always win on tied specificity. -->
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>

<!-- Static navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container_menu">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand homepagelink">TheEnterprise: The Pentest Automation Framework
        <br><small>{{ engagement_path }} | {{ current_location }}</small>
      </span>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <!-- Left nav -->
        <ul class="navbar-nav">
            {{ menu_items|safe }}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </nav>

<div style="height:110px">&nbsp;</div>

<div class="modal fade" id="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialogTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="dialogBody"></div>
    </div>
  </div>
</div>
<div id="popup" class="message"></div>
<div id=message class="message">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
            <script language="JavaScript">
                $('#message').html({{ message|tojson }});
                $('#message').show();
                setTimeout(function() { $("#message").hide();}, 5000);
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>


{% block leftcolumn %}

{% endblock %}


<div id="main">
    {% block content %}

    {% endblock %}
</div>

{% block body %}

{% endblock %}

<!-- Bootstrap core JavaScript (includes Popper, needed for dropdowns/modals) -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
