<html>
<head>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script type="text/javascript" charset="utf-8" src="/static/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/static/smartmenu/css/bootstrap.min.css" rel="stylesheet">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="/static/smartmenu/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <link href="/static/jquery-ui/jquery-ui.min.css" rel=stylesheet>
    <script src="/static/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <script language="JavaScript">
        // Attach the CSRF token (see the meta tag above) to every AJAX POST this app makes,
        // so Flask-WTF's CSRFProtect accepts them without touching each call site individually.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", $('meta[name="csrf-token"]').attr('content'));
                }
            }
        });

        function remove_tags(txt){
            if(txt) {
                var rex = /(<([^>]+)>)/ig;
                return txt.replace(rex , "");
            } else { return txt; }
        }

        function dialog_text(tle, text) {
            $("#dialog").html(text);
            $("#dialog").dialog();
            $('#message').hide();
            $("#dialog").dialog({
                collision: "flip",
                width: 700,
                position: {my: 'center top+100', at: 'center top+100', of: '.container_menu'},
                draggable: true,
                resizable: true,
                title: tle});
            // Fix input element click problem
            $('.input-append').bind('click mouseup mousedown keypress keydown keyup', function (e) {
              e.stopPropagation();
            });
            $("#dialog").show();
        }

        function dialog_html(ajax_url) {
            $("#dialog").dialog();
            $('#message').hide();
            $("#dialog").dialog("option", "title", "Loading ... ").dialog("open");
            $("#dialog").load(ajax_url, function() {
                //$(this).dialog("option", "title", $(this).find("h1").text());
                $(this).dialog({
                    collision: "flip",
                    draggable: true,
                    resizable: true,
                    title: $(this).find("h1").text(),
                    width: 700,
                    position: {my: 'center top+100', at: 'center top+100', of: '.container_menu'},
                    closeOnEscape: true,
                });
                $(this).find("h1").remove();
            });
            // Fix input element click problem
            $('.input-append').bind('click mouseup mousedown keypress keydown keyup', function (e) {
              e.stopPropagation();
            });
            $("#dialog").show();
        }

        function close_popup(div_id) {
            $("#" + div_id).hide();
        }

        function ajax_call(ajax_url, should_confirm) {
            cont = true;
            if( should_confirm ) {
                cont = confirm('Are you sure you want to do this?');
            }
            if( cont == true) {
                $.ajax({
                    url: ajax_url,
                    type: "POST",
                    success: function(msg) {
                        if( msg ) {
                            $('#message').html(msg);
                            $('#message').show();
                            setTimeout(function() { $("#message").hide();}, 5000);
                        }
                    }
                });
            }
        }

        function ajax_submit(ajax_url, action) {
            $.ajax({
                url: ajax_url,
                type: action,
                success: function(data) {
                    var current_url = window.location.href;
                    if (current_url.indexOf('?') > -1){
                       current_url += '&msg=' + data
                    }else{
                       current_url += '?msg=' + data
                    }
                    window.location.href = current_url;
                },
            });
        }

        $(document).ready(function() {
            //Display Message in popup if passed as GET variable
            var url_string = window.location.href;
            var url_object = new URL(url_string);
            var msg = url_object.searchParams.get('msg');
            var message = "{{ msg }}";
            console.log(message);
            if( message != "" ) {
                msg = message + " " + msg;
            }
            msg = remove_tags(msg);
            console.log(msg);
            if( msg ) {
                $('#message').html(msg);
                $('#message').show();
                setTimeout(function() { $("#message").hide();}, 5000);
            }
        });

        var already_failed = false;
        function validate_input(form_input, regex) {
            var input_id = form_input.id;
            var value = form_input.value
            var re = new RegExp(regex, "i");
            var result = re.test(value);
            console.log('value: ' + value);
            console.log('regex: ' + regex);
            console.log('result: ' + result);
            if(result === false) {
                $('#message').html("Nice try, but you input was not valid!  Try again.");
                $('#message').show();
                setTimeout(function() { $("#message").hide();}, 5000);

                form_input.value = null;
                //if(already_failed === false) {
                    setTimeout(function() { form_input.focus() }, 10);
                //    already_failed = true
                //} else {
                //    already_failed = false
                //}
            }
        }
    </script>

    {% block head %}

    {% endblock %}
</head>

<body>

<!-- Static navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container_menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand homepagelink">TheEnterprise: The Pentest Automation Framework
          <br><font size="2">{{ engagement_path }} | {{ current_location }}</i></font>
        </p>
      </div>
      <div class="navbar-collapse collapse">
        <!-- Left nav -->
        <ul class="nav navbar-nav">
            {{ menu_items|safe }}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div>

<div style="height:110px">&nbsp;</div>

<div id="dialog"></div>
<div id="popup" class="message"></div>
<div id=message class="message">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
            <script language="JavaScript">
                $('#message').html({{ message }});
                $('#message').show();
                setTimeout(function() { $("#message").hide();}, 5000); };
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>


{% block leftcolumn %}

{% endblock %}


<div id="main">
    {% block content %}

    {% endblock %}
</div>

{% block body %}

{% endblock %}

<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/smartmenu/bootstrap.min.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="/static/smartmenu/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="/static/smartmenu/jquery.smartmenus.bootstrap.min.js"></script>


</body>
</html>
